@import url('_partials/reset.css');
@import url('_partials/common.css');
@import url('_partials/variables.css');

/*nav*/

nav {
    min-width: 50px;
    background-color: var(--black);
    flex-direction: column;
    align-items: center;
    color: var(--nav-font);
}

/*logo*/

nav .logo-small {
    width: 28px;
    padding-top: 5px;
    margin-bottom: 17px;
}

nav .logo {
    padding-top: 20px;
    width: 130px;
    margin-bottom: 30px;
}

/*nav ul*/

nav .list-icon li {
    display: flex;
    margin-bottom: 12px;
    margin-left: 5px;
}

nav .list-icon li a {
    align-self: center;
}

nav .list-icon li img {
    height: 22px;
    filter: opacity(0.5);
    margin-right: 5px;
}

/*Playlist*/

nav .playlist-container {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
}

nav .playlist-container .list {
    overflow-y: auto;
}

nav .playlist-container h3 {
    color: var(--white);
    margin-top: 25px;
    margin-bottom: 10px;
}

nav .playlist-container .add {
    font-size: 1.875rem;
    font-weight: bold;
    color: var(--black);
    background-color: #a3a3a3;
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
}

nav .playlist-container .crea {
    align-self: center;
}

nav .playlist-container li {
    margin-top: 25px;
}

/*nav footer*/
.nav-footer {
    margin-top: auto;
}

nav .nav-footer .download img {
    width: 12px;
}

nav .nav-footer .download img,
nav .nav-footer .user {
    margin: 0 auto;
}

nav .nav-footer .hr {
    background-color: var(--nav-font);
    height: 1px;
    width: 190px;
    margin: 10px 0;
}

nav .nav-footer .download {
    margin-bottom: 20px;
}

nav .nav-footer .user {
    margin-bottom: 10px;
}

nav .nav-footer .img-container {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
}

nav .nav-footer .img-container img {
    object-fit: cover;
    width: 100%;
}

nav .nav-footer .user span {
    color: var(--white);
    font-weight: bold;
    align-self: center;
}

/*big-container*/

.big-container {
    background-color: var(--main-bg);
    overflow-y: auto;
}

/* top-bar */

main .top-bar {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 50px;
    right: 0;
}

.big-container .btn {
    all: unset;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    padding: 10px 40px;
    border-radius: 30px;
    margin-top: 20px;
}

.button {
    text-align: right;
    margin-right: 4px;
}

/* container */

main .container {
    margin-top: 90px;
}

main .big-container {
    color: var(--main-font);
}

/* category*/

main .container .category {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
    font-weight: bold;
}

main .container .category .col {
    width: calc(100% /4 - 20px);
    margin: 0 10px 40px;
    text-align: center;
}

/* recently-played*/

#recently-played h2 {
    margin-bottom: 35px;
}


#recently-played h3,
#for-you h3 {
    margin-bottom: 5px;
    font-size: .9375rem;
}

#recently-played .song-container,
#for-you .song-container,
#artist .artist-container {
    gap: 10px;
    flex-wrap: wrap;
}

#recently-played .song-name,
#for-you .song-name,
#artist .artist-name {
    text-align: center;
}

#recently-played .col,
#for-you .col,
#artist .col {
    width: calc((100% - 10px) /2);
}

#recently-played .image-container,
#for-you .image-container,
#artist .image-container {
    margin-bottom: 15px;
}

#recently-played .image-container img,
#for-you .image-container img {
    width: 100%;
}

/* for you*/
#for-you,
#artist {
    margin-top: 50px;
}

#for-you h2,
#artist h2 {
    margin-bottom: 10px;
}

#for-you .song-container,
#artist .artist-container {
    margin-top: 25px;
}

#artist .image-container {
    max-width: 160px;
    max-height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

#artist .image-container img {
    width: 100%;
    object-fit: cover;
}

#artist {
    margin-bottom: 100px;
}

/* footer*/

footer {
    height: 90px;
    background-color: var(--footer-bg);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99;
}

/*media queres*/

@media screen and (min-width:576px) {
    nav {
        min-width: 230px;
        padding-left: 20px;
        padding-right: 20px;
        align-items: flex-start;
    }

    nav .logo-small {
        display: none;
    }

    /*nav ul*/
    nav .list-icon li {
        margin-left: 0;
    }

    nav .playlist-container {
        display: flex;
    }

    /* nav footer*/


    nav .nav-footer .img-container {
        margin-right: 10px;
    }

    nav .nav-footer .download img {
        margin: 0;
        margin-right: 12px;
    }

    nav .nav-footer .download {
        margin: 0;
    }

    /* top-bar*/

    main .top-bar {
        left: 230px;
    }

    /* category*/

    main .container .category .col {
        width: calc(100% /3 - 20px);
    }

    .desktop-only {
        display: inline-block;
    }

}

@media screen and (min-width:768px) {
    main .container .category .col {
        width: calc(100% /5 - 20px);
    }

    #recently-played .col,
    #for-you .col,
    #artist .col {
        width: calc((100% - 30px) /4);
    }
}

@media screen and (min-width:992px) {
    main .container .category {
        flex-wrap: nowrap;
        gap: 20px;
    }

    main .container .category .col {
        max-width: fit-content;
    }

    #recently-played .col,
    #for-you .col,
    #artist .col {
        width: calc((100% - 50px) /6);
    }
}

/*
@media screen and (max-height:400px) {
    nav .playlist-container {
        min-height: 170px;
        overflow: auto;
    }
}

@media screen and (max-height:450px) {
    nav .playlist-container {
        min-height: 200px;
        overflow: auto;
    }
}

@media screen and (max-height:500px) {
    nav .playlist-container {
        min-height: 300px;
        overflow: auto;
    }
}