@import url('_partials/reset.css');
@import url('_partials/common.css');
@import url('_partials/variables.css');

/*nav*/

nav {
    min-width: 50px;
    height: calc(100vh - 90px);
    background-color: var(--black);
    flex-direction: column;
    align-items: center;
    color: var(--nav-font);
}

nav a {
    text-decoration: none;
    color: var(--nav-font);
}

/*logo*/

nav .logo-small {
    width: 28px;
    padding-top: 5px;
    margin-bottom: 17px;
}

nav .logo {
    padding-top: 20px;
    width: 130px;
    margin-bottom: 30px;
}

/*nav ul*/

nav .list-icon li {
    display: flex;
    margin-bottom: 12px;
    margin-left: 5px;
}

nav .list-icon li a {
    align-self: center;
}

nav .list-icon li img {
    height: 22px;
    filter: opacity(0.5);
    margin-right: 5px;
}

/*Playlist*/

nav .playlist-container {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

nav .playlist-container .list {
    overflow-y: auto;
}

nav .playlist-container h3 {
    color: var(--white);
    margin-top: 25px;
    margin-bottom: 10px;
}

nav .playlist-container .add {
    font-size: 1.875rem;
    font-weight: bold;
    color: var(--black);
    background-color: #a3a3a3;
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
}

nav .playlist-container .crea {
    align-self: center;
}

nav .playlist-container li {
    margin-top: 25px;
}

/*nav footer*/
.nav-footer {
    margin-top: auto;
}

nav .nav-footer .download img {
    width: 12px;
}

nav .nav-footer .download {
    margin-bottom: 10px;
    margin-left: 5px;
}

nav .nav-footer .hr {
    background-color: var(--nav-font);
    height: 1px;
    width: 190px;
    margin: 10px 0;
}

nav .nav-footer .img-container {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
}

nav .nav-footer .img-container img {
    object-fit: cover;
    width: 100%;
}

nav .nav-footer .user span {
    color: var(--white);
    font-weight: bold;
    align-self: center;
}

/*big-container*/

.big-container {
    background-color: var(--main-bg);
    width: 100%;
    /*debug*/
}

/* top-bar */

main .top-bar {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
}

.big-container .btn {
    all: unset;
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    padding: 10px 40px;
    border-radius: 30px;
    margin-top: 20px;
}

.button {
    text-align: right;
    margin-right: 4px;
}

/* container */

main .container {
    margin-top: 90px;
    color: var(--main-font);
}

/* category*/

main .container .category {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
    font-weight: bold;
}

main .container .category .col {
    width: calc(100% /4 - 20px);
    margin: 0 10px 40px;
    text-align: center;
}


/* footer*/

footer {
    height: 90px;
    background-color: var(--footer-bg);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 99;
}

/*media queres*/

@media screen and (min-width:576px) {
    nav {
        min-width: 230px;
        padding-left: 20px;
        padding-right: 20px;
        align-items: flex-start;
    }

    nav .logo-small {
        display: none;
    }

    /*nav ul*/
    nav .list-icon li {
        margin-left: 0;
    }

    nav .playlist-container {
        display: flex;
    }

    /* nav footer*/


    nav .nav-footer .img-container {
        margin-right: 10px;
    }

    nav .nav-footer .download img {
        margin-right: 12px;
    }

    nav .nav-footer .download {
        margin: 0;
    }

    /* category*/

    main .container .category .col {
        width: calc(100% /3 - 20px);
    }

    .desktop-only {
        display: inline-block;
    }

}

@media screen and (min-width:768px) {
    main .container .category .col {
        width: calc(100% /5 - 20px);
    }
}

@media screen and (min-width:992px) {
    main .container .category {
        flex-wrap: nowrap;
        gap: 20px;
    }

    main .container .category .col {
        max-width: fit-content;
    }
}

/*
@media screen and (max-height:400px) {
    nav .playlist-container {
        min-height: 170px;
        overflow: auto;
    }
}

@media screen and (max-height:450px) {
    nav .playlist-container {
        min-height: 200px;
        overflow: auto;
    }
}

@media screen and (max-height:500px) {
    nav .playlist-container {
        min-height: 300px;
        overflow: auto;
    }
}