body {
    font-family: 'Montserrat', sans-serif;
    font-size: .625rem;
}

.flex {
    display: flex;
}

.desktop-only {
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--nav-font);
}

#recently-played,
#for-you,
#artist {
    padding-left: 20px;
    padding-right: 30px;
}

#recently-played h2,
#recently-played h3,
#artist h3,
#for-you h2,
#for-you h3,
#artist h2 {
    color: var(--white);
}

#recently-played h2,
#for-you h2,
#artist h2 {
    font-size: 20px;
}